@model ASPNET.Models.SessionStatistics

@{
    ViewData["Title"] = "Session Statistics";
}

<h1>Session Statistics</h1>

<div>
    <h4>Session Date</h4>
    <hr />
    <p>@Model.SessionDate</p>
</div>
<div>
    <h4>Good Answers</h4>
    <hr />
    <p>@Model.GoodAnswers</p>
</div>
<div>
    <h4>All Answers</h4>
    <hr />
    <p>@Model.AllAnswers</p>
</div>
<div>
    <h4>Percentage</h4>
    <hr />
    <p>@Model.Percentage</p>
</div>
<div>
    <h4>Dictionary</h4>
    <hr />
    <p>@Model.Dictionary.DictionaryName</p>
</div>
<div>
    <h4>User</h4>
    <hr />
    <p>@Model.User.Email</p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>